

.journal_title{
  color: #ED3F3F;
  position: absolute;
  width: 324px;
  height: 48px;
  left: 63px;
  top: 10px;

  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 83px;
  display: flex;
  align-items: center;
  text-align: center;
  
}
.link{
  color:inherit;
  text-decoration: none;

}
.sign_in{
  position: absolute;
  width: 358px;
  height: 81px;
  left: 541px;
  top: 460px;
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  background-color: #ED3F3F;
  border-radius: 20px;
  color:  #FFFDF4;
  line-height: 81px;


  



}
.metrics_life{

  position: absolute;
  width: 521px;
  height: 132px;
  left: 459px;
  top: 190px;
  
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}
.texting_girl{
  width: 20%;
  position: absolute;
  left: 5%;
  top: 200px;


}
.song_girl{
  width: 20%;
  position: absolute;
  left: 80%;
  top: 200px;


}
.sitting_girl{
  width: 20%;
  position: absolute;
  left: 42%;
  top: 80%;




}
.card {
  background-color: antiquewhite;
  border-radius: 10px;
  width: 25%;
  margin: 15px;
  padding: 15px;
}


.note {
  background-color: lightgray;
  border-radius: 10px;
  width: 83%;
  margin: 20px;
  margin-left: 30px;
  padding: 20px;
  height: 5px;

}

.note-title{
  color: black;
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);  
}
.card-cont {
  display: flex;
  flex-flow: row wrap;
  margin-left: 15px;
}

.card-num {
  font-size: 40px;
}

.plus-button {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  background-color: blue;
  color: aliceblue;
  border-radius: 50%;
}

.subtitle {
  text-align: left;
  margin-left: 30px;
}

/* FORM */
.formTitle {
  text-align: left;
  margin-left: 20px;
}

.slidecontainer {
  width: 100%; 
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}
