
@import "~react-vis/dist/style";

.journal_title{
  color: #ED3F3F;
  position: absolute;
  width: 324px;
  height: 48px;
  left: 63px;
  top: 10px;

  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 83px;
  display: flex;
  align-items: center;
  text-align: center;
  
}
.link{
  color:inherit;
  text-decoration: none;
  text-align: center;
}

.sign_in_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_in{
  width: 180px;
  height: 60px;
  margin-top: 5px;
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  background-color: #ED3F3F;
  border-radius: 20px;
  color:  #FFFDF4;
  line-height: 60px;
  text-align: center;
}

.sign_in:hover {
  background-color:#de1b1b;
}


.full-dash {
  border: aqua 5px;
}

.metrics_life_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics_life{
  width: 521px;
  height: 132px;
  margin-top: 240px;
  
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}

.texting_girl{
  width: 20%;
  position: absolute;
  left: 5%;
  top: 200px;


}
.song_girl{
  width: 20%;
  position: absolute;
  left: 80%;
  top: 200px;

}

.sitting_girl{
  width: 20%;
  position: absolute;
  left: 42%;
  top: 80%;

}

.dashTitle {
  text-align: left;
  margin-left: 30px;
  color: #ED3F3F;
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.logout{
  position: absolute;
  width: 100px;
  height: 50px;
  right: 70px;
  top: 27px;
  font-size: 27px;
  color: white;
  font-family: Rationale;
  background-color: #ED3F3F;
  border-radius: 20px;
  text-align: center;
  border-style: none;
}

.logout:hover{
  background-color:#de1b1b;
}

.card {
  background-color: antiquewhite;
  border-radius: 10px;
  width: 25%;
  margin: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.card:hover{
  background-color: #f7e0c0;
}


.note {
  background-color: lightgray;
  border-radius: 10px;
  width: 83%;
  margin: 20px;
  margin-left: 30px;
  padding: 20px;
  height: 5px;

}

.note-title {
  color: black;
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);  
}

.card-cont {
  display: flex;
  flex-flow: row wrap;
  margin-left: 15px;
}

@media (max-width: 800px) {
  .card-cont {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 45%;
  }
}

.card-num {
  font-size: 40px;
}

.plus-button {
  position: fixed;
  text-align: center;
  bottom: 70px;
  right: 70px;
  width: 70px;
  height: 70px;
  line-height: 60px;
  font-size: 70px;
  background-color: #ED3F3F;
  color: aliceblue;
  border-radius: 50%;
}

.plus-button:hover{
  background-color:#de1b1b;
}

.done {
  position: fixed;
  font-family: Rationale;

  text-align: center;
  bottom: 60px;
  right: 60px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  background-color: #ED3F3F;
  color: aliceblue;
  border-radius: 50%;
}




.subtitle {
  margin-left: 30px;
}

/* FORM */
.formTitle {
  text-align: left;
  margin-left: 30px;
  color: #ED3F3F;
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.formQuestion {
  text-align: center;
}

.slidecontainer {
  width: 100%; 
  margin-bottom: 40px;
}

.slider {
  margin-left: 30%;
  -webkit-appearance: none;
  width: 40%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background:#ED3F3F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ED3F3F;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.journalContainer {
  background-color: white;
  border-color: grey;
  border-width: 3px;
}

.longInput {
  width: 60%;
  margin-left: 20%;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 150px;
}

.submitButton {
  background-color: #ED3F3F;
  color: white;
  border-width: 0;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.backButton {
  background-color: rgb(63, 109, 237);
  color: white;
  border-width: 0;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.date{
  position: absolute;
  color: #ED3F3F;
  text-align: left;
  right: 30px;
  top: 4px;
  color: #ED3F3F;
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}